


.pages
  +f(center, center)
  a
    display: block
    margin: 0 4px
    +f(center, center)
    +size(27px)
    color: $brown-dark
    border-radius: 50%
    font-size: 14px
    flex-shrink: 0
    &:not([class^="icon"])
      border: 1px solid $brown-dark

    &:hover,
    &.active
      background-color: $brown-dark
      color: white

=afterline($height, $color: rgb(199,199,199))
  line-height: $height
  position: relative
  &:after
    content: ""
    display: block
    border-right: 1px solid $color
    +position(absolute, 0 0 null null )
    height: $height


.landing
  height: 350px
  margin-bottom: 35px
  +fc

  .slogan
    color: white
    text-align: center
    text-shadow: 0 0 100px rgba(black, 0.3), 0 0 10px rgba(black, 0.3)
  .f56
    margin-bottom: 0
  .f24.bd
    margin-bottom: 6px
    padding-bottom: 6px
    border-bottom: 1px solid #fff

.breadcrumb
  +padding( 20px null)
  white-space: nowrap
  ul
    +f(flex-start, center)
    li:before
      color: $orange
      margin: 0 10px
      font-weight: bolder

  +max(330)
    li:nth-child(3)
      display: none



.check_unit
  cursor: pointer
  +f(null, center, row)
  position: relative
  // margin-bottom: 20px
  // margin-right: 28px

  input[type="checkbox"] 
    display: none

  .box 
    display: inline-block
    +size(18px)
    background: $white
    border: 1px solid $brown
    margin-right: 15px
    border-radius: 3px
    flex-shrink: 0
    
    &:after 
      content: ""
      position: absolute
      +size(0, 3px)
      background: $brown-dark
        
      transform: translate(6px, 11px) rotate(-45deg)
      transform-origin: left
      transition: all 50ms
      transition-delay: 0ms
    
    &:before 
      content: ""
      position: absolute
      +size(0, 3px)
      background: $brown-dark
        
      transform: translate(2px, 6px) rotate(45deg)
      transform-origin: left
      transition: all 50ms
      transition-delay: 50ms
  
  input[type="checkbox"]:checked 
    & + .box 
      &:before 
        width: 8px
        transition-delay: 0ms
      &:after 
        width: 12px
        transition-delay: 150ms




.slcik-menu
  border-top: 1px solid $brown-230
  box-shadow: inset 0 -4px rgb(240, 231, 222)
  =shorterLine
    content: ""
    +size(0px ,30px)
    border-right: 1px solid $brown-230
    +position(absolute, 50% 0 null null)
    transform: translateY(-50%)
  
  ul
    max-width: 1400px
    +margin(null auto)
    +f
  li  

    flex: 1 1 auto
    +min(990)
      max-width: 175px  //會跟slcik有衝突

  a
    height: 58px
    +fc
    position: relative
    font-weight: bold
    // z-index: 1
    // line-height: 1.5
    &:after
      +shorterLine
        
  li:first-child
    a:before
      +shorterLine
      left: 0px

  li.active
    border-bottom: 4px solid $brown-dark
    a
      color: $brown-dark
      font-weight: bold
      letter-spacing: 1px

  li:hover
    a
      color: $brown-dark
      transition: color 0.3s

  .slick-arrow
    +size(40px , 100%)
    +fc
    height: 58px
    position: absolute
    
  .slick-arrow
    color: #F7B550
    
  .icon-prev
    left: 0
    &:after
      +shorterLine
  .icon-next
    right: 0
    &:after
      +shorterLine
      left: 0


  +max(990)
    ul
      +padding(null 40px)









// 電子報
.container.fc
  +fc
  
//干擾全域?
.bgc
  background-size: cover
  background-position: right bottom



.epapper
  .unsubscribe
    display: none

  width: 100%
  max-width: 530px
  border: 1px solid #D1AF81
  box-shadow: 3px 3px 15px rgba(black,0.2)
  background-color: #fff
  text-align: center
  border-radius: 10px
  overflow: hidden

  .epapper__toggle
    height: 50px
    +fc
    background: linear-gradient(to bottom, rgb(255,255,255), rgb(249,245,235))
    border-bottom: 1px solid rgb(239,239,239)  

    > div 
      +size(120px, 100%)
      +fc
      cursor: pointer

    > .current
      font-weight: bold
      color: rgb(142, 108, 80)
      box-shadow: inset 0 -2px 0px rgb(222, 207, 186)


  .epapper__main
    +padding(36px 80px 64px)
    text-align: center

  .f24
    margin-top: 5px

  input
    +size(100%, 40px)
    border: 1px solid $brown
    padding: 15px
    color: $brown
    +trans
    &::placeholder
      color: #A57B4B
    &:hover
      background-color: $brown-light
    &:focus
      color: #A57B4B
      border-color: #A57B4B

  .verify
    +f(flex-start, center)
    img
      cursor: pointer

  .login_btn
    +fc
    > a
      color: $white
      +size(170px, 40px)
      +fc
      background-color: rgb(99, 99, 99)
      border-radius: 3px
      +hoverBgc(rgb(63, 63, 63))

    .mr
      margin-right: 22px
      background-color: #A57B4B
      +hoverBgc(#d37d1b)


  .epapper__main
    +max(767)
      +padding(25px 40px 40px)

    +max(374)
      +padding(25px 30px 30px)
      .login_btn .mr
        margin-right: 8px


.epapper.epapper--back
  .epapper__main
    padding-top: 48px

  .back-btn
    height: 136px
    width: 100%
    +f(center,center,column)
    border-top: 1px solid #D1AF81
    color: rgb(178, 138, 89)
    +hoverText(#d37d1b)

  .icon-back
    font-size: 1.8rem
    margin-bottom: 10px











    