    

$defaultcolor: rgb(22, 24, 23) !default  
$red: rgb(166, 42, 6)
$red-btn: rgb(226, 64, 0)
$purple: rgb(139, 29, 90)
$purple-light: rgb(154, 38, 102)
$orange: rgb(247,181,80)
$brown-dark-f: rgb(165, 123, 75)

$brown-dark: rgb(180, 120, 50)
$brown: rgb(188, 159, 119)  
$brown-230: rgb(230, 210, 182)


$brown-240: rgb(240, 234, 221)
$brown-light: rgb(246, 242, 241) 

$table-bgc: rgb(249, 245, 234)

$white: rgb(254, 254, 254)  
$blue: rgb(145,199,213)


body
  // font-size: 16px
  color: $defaultcolor 
  font-family: 'Lato',"Open Sans", Verdana, Heiti TC, "微軟正黑體" , Microsoft JhengHei
  

.en
  font-family: 'Philosopher'
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

.wp
  // background-color: #fff
  background-color: rgb(245, 241, 240)

a
  color: $defaultcolor
  transition: color .30s ease-in-out


