  

.bgcWhite
  background-color: #fff

#order
  // .control-row



  
// #trace 
.containPic
  width: 100%

  table
    text-align: center
    white-space: nowrap
    width: 100%
  tr
    border-bottom: 1px solid #E5E5E5
    &:first-child
      background-color: rgb(202, 153, 97)
      color: white

  th,td
    +padding(null 30px)

  th:first-child,
  .pic + div,
  .check_unit
    text-align: left  
    

  td > div
    height: 100px
    +f(center, center, row)

  .info
    justify-content: flex-start

  .column
    flex-direction: column

  .pic
    +size(100px)
    background-position: left
    background-size: cover

  .check_unit
    +hoverText(rgb(147, 87, 17))
    
    
  [class*="icon-"]
    color: white
    +padding(8px null)
    border-radius: 3px
    width: 140px
    &:before
      margin-right: 10px

  .icon-cart
    background-color: rgb(179, 139, 90)
    +hoverBgc(rgb(204, 125, 36))
    &:before
      transform: scale(-1,1)

  .icon-trash
    background-color: rgb(153, 153, 153)
    +hoverBgc(rgb(137, 134, 134))

  +max(990)
    td > div
      height: 80px

    .pic
      +size(80px)

  +max(767)
    font-size: 15px
    td > div
      height: 60px

    .pic
      +size(60px)

    th,td
      +padding(null 15px)

    [class*="icon-"]
      width: 120px
      &:before
        margin-right: 5px




#cancel
  .submit
    background-color: rgb(245, 241, 240)

#inquire
  .spe2 a
    +hoverText(#B47832)

.inquireType
  .f24
    color: #A57B4B
    display: inline-block
    margin-right: 20px

  .box__content
    +padding(1.2rem null)

    .group > span:nth-child(2)
      color: #B47832
      height: 38px
      line-height: 38px

  .select_unit
    width: 350px

  // textarea
  //   +size(100%, 120px)
  //   +padding(10px 15px)
  //   border: 1px solid $brown
  //   border-radius: 3px
  //   color: $brown-dark
  //   +trans
  //   &::placeholder
  //     color: $brown-dark
  //   &:hover
  //     background-color: $brown-light
  //   &:focus
  //     color: $brown-dark
  //     border-color: $brown-dark

  +max(350)
    .container > .f16
      display: block
      margin-bottom: 10px



.inquiryWrap
  border-top: 1px solid $brown
  width: 100%

.inquiryLog
  .log__title
    height: 50px
    background-color: rgb(235, 235, 235)
    +f(flex-start,center)
    +padding(null 30px)
    border-bottom: 1px solid rgb(235, 235, 235)

  .log__content
    +padding(20px 30px)
    +f(flex-start,center)
    border-bottom: 1px solid rgb(235, 235, 235)
    > .lh20
      width: 100%

  .sub
    +f(flex-start,flex-end)
    margin-right: 50px
    flex-shrink: 0
    span 
      margin-left: 10px

  ul
    +f
    color: #7C7C7C
  li
    margin-right: 35px
    white-space: nowrap

  .answer
    background-color: rgb(254, 246, 235)
    .sub
      color: rgb(203, 152, 95)

  +max(990)
    ul
      flex-wrap: wrap
      margin-bottom: 10px
    li
      width: 100%
      margin-right: 0

  +max(580)
    .log__content
      flex-direction: column
      align-items: flex-start
      +padding(null 20px)
      
    .sub
      +margin(null 0 20px null  )
    ul
      font-size: 15px
        



#modal-cancel
  max-width: 600px
  .f24
    color: $brown-dark

  .modal__main
    background-color: rgb(245, 241, 240)
    +padding(48px 60px 40px)

    +max(400)
      +padding(30px 40px)

