
#privacy
  background-image: url("./images/login-00-bgc4.jpg")
  background-position:  right top -80px
  background-size: cover
  padding-bottom: 50px


  +max(1500)
    background-image: url("./images/login-00-bgc4b.jpg")
  .title
    border-bottom: 2px solid rgba(#B47832, 0.5) 
    padding-bottom: 12px
    color: #A57B4B
    font-weight: bold
      
  .container.md
    max-width: 1200px

  .removeScroll
    border-bottom: 2px solid rgba(#B47832, 0.5) 
    p
      padding-right: 10px

    p:last-child
      padding-bottom: 50px
            

