
extends ./include/layout.pug

block content

  .container
    .breadcrumb
      ul.nostyle
        li 首頁
        li.icon-right-thin 會員專區
          h2.sr-only 會員專區
        li.icon-right-thin 密碼管理
          h3.sr-only 密碼管理

  #altered
    
    .slcik-menu.eq9.bgcWhite
      ul.nostyle(data-menu="5")
        li
          a(data-abbr="訂單紀錄" href="order.html") 訂單紀錄
        li 
          a(data-abbr="退貨查詢" href="returned.html") 退貨查詢
        li 
          a(data-abbr="追蹤清單" href="trace.html") 我的追蹤清單
        li 
          a(data-abbr="紅利點數" href="bonus.html") 紅利點數
        li.active  
          a(data-abbr="資料維護" href="profile.html") 會員資料維護
        //- li 
        //-   a(data-abbr="媽媽教室" href="course.html") 媽媽教室
        //- li 
        //-   a(data-abbr="預約試吃" href="taste.html") 預約試吃
        li
          a(data-abbr="訂閱電子報" href="subscribe.html") 訂閱電子報

    .bgc(style="background-image: url(styles/images/login-0-bgc2.jpg)")
      .container.fc.pt64.pb80
        .modal.f16
          .modal__main.lh22
            img(src="./styles/images/login-00-02.png" alt="紫金堂").mb8
            .f24.lh20.mb24 密碼修改成功
            div 您的密碼重設確認信已成功寄出，請前往收閱信件並依指示操作設定
          .modal-bottom
            a(href="index.html")
              .icon-back
              span 返回首頁