
extends ./include/layout.pug

block content
  
  
  #confirm.cart-grid

    .container
      .breadcrumb
        ul.nostyle
          li 首頁
          li.icon-right-thin 購物車
            h2.sr-only 購物車
            h3.sr-only 訂單、資料確認

      .scrollbarX.mb32
        .progress.mb32
          a(data-abbr="購物清單" href="cart.html")
            img(src="./styles/images/cart-01.png", alt="紫金堂")
            span 確認購物清單
          .icon-single-right
          a(data-abbr="填寫資料" href="info.html")
            img(src="./styles/images/cart-02.png", alt="紫金堂")
            span 填寫訂購資料
          .icon-single-right
          a(data-abbr="付款方式" href="pay.html")
            img(src="./styles/images/cart-03.png", alt="紫金堂")
            span 選擇付款方式
          .icon-single-right
          a(data-abbr="資料確認" href="confirm.html").current
            img(src="./styles/images/cart-04b.png", alt="紫金堂")
            span 訂單、資料確認
          .icon-single-right
          a(data-abbr="購物完成" href="complete.html")
            img(src="./styles/images/cart-05.png", alt="紫金堂")
            span 購物完成

                
      .infoCard-wrap



        .infoCard.mb32
          .infoCard__title 
            span.f24 購物清單
            span 請確認您訂購的商品內容，共 #[span.red 4] 項商品
            a(href="cart.html").brown 編輯 
            
          .infoCard__content.infoCard--multiple

            .baseline.mb16
              .icon-thermometer.normal 常溫配送
              span 本區運費 NT$80 元，商品金額 NT$599（含）以上免運費

            .multiple__secondary.mb32
              .table__title
                div.pic 圖片
                div.name 商品貨號 / 商品名稱
                div.num(data-title="數量") 數量
                div.per 單價
                div.sum 小計
              .table__content
                div.pic
                  img(src="./styles/images//02-01-01.jpg" alt="紫金堂")
                div.name 
                  a(href="intro.html") 月子補養兩日餐(10日)
                div.num 1
                div.per NT$11,888
                div.sum NT$11,888

              .table__total.wide5
                div.mr8 共 1 項，購物金額 11,888 + 常溫運費 0 =
                div NT $ 11,888


            .baseline.mb16
              .icon-thermometer.low 低溫配送
              span 本區運費 NT$150 元，商品金額 NT$1,500（含）以上免運費

            
            .multiple__secondary.mb16
              .table__title
                div.pic 圖片
                div.name 商品貨號 / 商品名稱
                div.num(data-title="數量") 數量
                div.per 單價
                div.sum 小計
              .table__content
                div.pic 
                  img(src="./styles/images/01-item02.jpg" alt="紫金堂")
                div.name
                  a(href="intro.html") 紫金堂月子餐【15日份】
                div.num 1
                div.per NT$28,200
                div.sum NT$28,200
              .table__append 《好孕加值禮》：  + (A) 疏乳棒1支、美身帶1條
              .table__content
                div.pic 
                  img(src="./styles/images/02-01-01.jpg" alt="紫金堂")
                div.name
                  a(href="intro.html") 月子補養兩日餐(10日)
                    .sub 產後第二週 + 哺乳
                div.num 1
                div.per NT$11,888
                div.sum NT$11,888
              .table__content
                div.pic 
                  img(src="./styles/images/01-item01.jpg" alt="紫金堂")
                div.name
                  a(href="intro.html") 月子補養兩日餐(10日)
                    .sub 產後第一週 + 哺乳 (出一停一)
                div.num 1
                div.per NT$22,888
                div.sum NT$22,888
              .table__total.wide5
                div.mr8 共 1 項，購物金額 62,976 + 常溫運費 0 =
                div NT $ 62,976

        .infoCard.mb32
          .infoCard__title 
            span.f24 紅利折抵
            a(href="cart.html").brown 編輯 

            
          .infoCard__content.lh20 您目前共享有紅利點數 #[span.brown 1,130 ]
            | 點，本次購物使用 #[span.italicNum.spe 150] 點 ( #[span.brown NT$150元] ) #[br]
            .gray 每次交易最高可折抵該筆訂單之消費金額150元


        .infoCard.mb32
          .infoCard__title 
            span.f24 訂購人資料
            a(href="info.html").brown 編輯 
          .infoCard__content.infoCard--list
            ul.nostyle
              li.w100
                span 姓名
                span 張樂樂  小姐
              li
                span 電子信箱
                span test@gmail.com
              li
                span 聯絡電話
                span 0988-818-818
              li.w100
                span 通訊地址
                span 40647 台中市北屯區東山路一段147巷49號

        .infoCard.mb32
          .infoCard__title 
            span.f24 收件人資料
            a(href="info.html").brown 編輯 
          .infoCard__content.infoCard--list
            ul.nostyle
              li.w100
                span 姓名
                span 張樂樂  小姐
              li
                span 電子信箱
                span test@gmail.com
              li
                span 聯絡電話
                span 0988-818-818
              li.w100
                span 通訊地址
                span 40647 台中市北屯區東山路一段147巷49號
              li
                span 收貨時段
                span 上午 09:00 - 13:00
              li
                span 收貨方式
                span 保持電話暢通，到貨時請來電通知
              li
                span 配送方式
                span 常溫宅配、冷藏宅配


        .infoCard.mb32
          .infoCard__title 
            span.f24 發票資訊
            a(href="info.html").brown 編輯 
          .infoCard__content.infoCard--list
            ul.nostyle
              li.w100
                span 發票型式
                span 三聯式發票
              li
                span 公司抬頭
                span 雲端數位科技股份有限公司
              li
                span 統一編號
                span 24252151


        .infoCard.mb32
          .infoCard__title 
            span.f24 付款資訊
            a(href="pay.html").brown 編輯 
          .infoCard__content.infoCard--list
            ul.nostyle
              li.w100
                span 付款方式
                span 信用卡一次付清
              li.w100
                span 付款金額
                span NT $62,976




        .infoCard.mb16.ps
          .infoCard__title 
            span.f24 訂單備註事項
            a(href="info.html").brown 編輯 
            
          .infoCard__content.infoCard--list
            ul.nostyle.bd.pb16.mb16
              li
                span 訂單備註
                span 無
              
            ul.nostyle.lh20.red
              li ※ 月子餐、小產餐，訂單付款完成後 會有專屬服務人員與您聯繫，安排出貨日期。
              li ※ 生理餐、 紫金食堂系列因物流作業因素，可以指定到貨時段，恕無法指定到貨時間。
              li ※ 低溫商品需要冷藏保鮮，下單前請先確認到貨日有人可收貨並盡速將商品冷藏。
                

        .infoCard.mb64.ps2.noborder
          .infoCard__content.lh20
            .f18 備註說明
            .gray 提醒您，進行結帳前 #[span.red 請先確認購買的商品及金額] ，並填寫正確相關資訊


        .infoCard.mb64.right.infoCard--sm
          .infoCard__title 
            span.f24 訂單總計
            
          .infoCard__content.infoCard--multiple

            .multiple__sum.lh22
              ul.sum__order.nostyle
                li 常溫商品 (&nbsp; #[.brown 1] &nbsp;項 ) 
                  span NT$ 11,888
                li 低溫商品 (&nbsp; #[.brown 3] &nbsp;項 ) 
                  span NT$ 62,976
                li 滿額贈品 (&nbsp; #[.brown 1] &nbsp;項 ) 
                  span.red 贈品
                li 紅利折抵 (&nbsp; #[.brown -150] &nbsp;點 ) 
                  span.red NT$ -150
                li 活動折扣 (&nbsp; #[.brown 0] &nbsp;項 ) 
                  span NT$ 0
                li 常溫運費 
                  span NT$ 0
                li 低溫運費             
                  span NT$ 0
                li.border 總計金額
                  span.f24.italicNum NT $ 74,714



      .submit.mb88
        a(href="pay.html").btn.cancel 返回
        a(href="complete.html").btn 確認送出結帳

  