
extends ./include/layout.pug
include ./include/component.pug
include ./include/public.pug

block content
  .container
    .breadcrumb
      ul.nostyle
        li 首頁
        li.icon-right-thin 非會員專區
          h2.sr-only 非會員專區
        li.icon-right-thin 退貨查詢
          h3.sr-only 退貨查詢

  #guest-inquire
    +guest-menu(2)


    
    +canceled("guest")