
extends ./include/layout.pug
include ./include/public.pug

block content
  
  .container
    .breadcrumb
      ul.nostyle
        li 首頁
        li.icon-right-thin 非會員專區
          h2.sr-only 非會員專區
        li.icon-right-thin 退貨查詢
          h3.sr-only 退貨查詢

  #guest.bgcWhite
    +guest-menu(2)
  
    
    .bgc(style="background-image: url(styles/images/login-0-bgc2.jpg)")

      .container.fc.pt72.pb88
        .login-non.f16

          .f24.lh18.brown.mb16.wide10 非會員退貨查詢
          .mb32 請輸入訂購人的電子信箱及訂單編號，即可查詢退貨狀態

          input(type="text", placeholder="Email").mb24
          input(type="text", placeholder="訂單編號").mb24
          label.verify.mb40
            input(type="text" placeholder="請輸入驗證碼" required)
            img(src="./styles/images/09-99-04.jpg", alt="紫金堂").ml16

          .login_btn
            a(href="guest-return.html").mr 送出
            a(href="index.html") 取消

  