
extends ./include/layout.pug

block content
  .container
    .breadcrumb
      ul.nostyle
        li 首頁
        li 會員專區
        li.icon-right-thin 客服詢問

  #inquire.bgcWhite.inquireType
    
    .slcik-menu.eq9
      ul.nostyle
        li.active
          a(href="order.html") 訂單紀錄
        li 
          a(href="returned.html") 退貨查詢
        li 
          a(href="trace.html") 我的追蹤清單
        li 
          a(href="bonus.html") 紅利點數
        li 
          a(href="profile.html") 會員資料維護
        li 
          a(href="course.html") 媽媽教室
        li 
          a(href="taste.html") 預約試吃
        li 
          a(href="subscribe.html") 訂閱電子報

    
    .container.sm.pt56
      span.f24.mb16 客服詢問
      span.f16.lh18 ※ 標示 #[span.star.mid &nbsp;] 符號的欄位為必填。
      p.mb32.wide10 感謝您使用紫金堂購物商城，您提出的問題我們將盡快回覆。訂單相關、退換貨及購買流程等問題可先至《常見問題》查閱。


      .box.mb48
        .box__title 詢問內容
        .box__content
          .group.mb16
            span 訂單編號
            span A2017120701
          .group.mb16
            span.star 詢問主題
            .select_unit
              select(required)
                option(selected disabled hidden) 請選擇
                option(value="1") 主題1
          .group.mb16
            span.star 詢問內容
            textarea(rows="3" required)


    .submit.mb56.noBorder
      .btn 送出
      .btn.cancel 取消

    .inquiryWrap.pt56.pb88
      .inquiryLog.container
        .log__title 客服問答紀錄

        .log__content.quest
          .sub
            img(src="./styles/images/order-03-01.png", alt="紫金堂")
            span 您的提問
          .lh20
            ul.nostyle
              li 訂單編號：
                span.underline A2017120701
              li 詢問主題：退貨配送問題
              li 發問時間：2017-12-05  12：00：12
            div 請問商品退貨還需多少工作天才會進行？
        .log__content.answer
          .sub
            img(src="./styles/images/order-03-02.png", alt="紫金堂")
            span 客服回覆
          .lh20
            ul.nostyle
              li 回覆時間：2017-12-05  13：00：01
            div 您好，已為您處理退貨，將有宅配人員前往跟您收件，欲退商品單件退回交宅配人員即可，後續黑橋牌會為您處理退款事宜，造成不便非常抱歉，謝謝您。

