
extends ./include/layout-pure.pug

block content

  .container#inspect
    .landing
    .content  
      table.table
        tr 
          th 商品名稱
          td 檢驗報告書
        tr
          th 紫金堂月子水
          td 
            a 重金屬檢驗
        tr
          th 月子紅棗茶
          td 
            a 二氧化硫檢驗
        tr
          th 月內養生茶
          td 
            a 農藥檢驗
        tr
          th 月內止渴查
          td 
            a 農藥檢驗
        tr
          th 溫潤紅棗茶
          td 
            a 重金屬檢驗
          

    #footer.footer
      img(src="./styles/images/flower.png").flower1
      img(src="./styles/images/flower.png").flower2
      

      address.address
        a(href="index.html").address__logo
          img(src="./styles/images/01-banner-title.png", alt="紫金堂")

        .address__content

          ul.address__location.nostyle
            li 服務據點：
            li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank").anchorTo 台北
            li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 新北
            li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 桃園
            li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 新竹
            li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 台中
            li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 台南
            li.linebreak: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 高雄
            li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 宜蘭
            li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 金門
            li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 上海
            li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 新加坡
            li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 詳細資訊
              
          .address__contact
            a(href="https://goo.gl/maps/iUgK8fcwDwP2" , target="_blank").addr 11492 台北市內湖區瑞光路 513 巷 28 號 8 樓
            span /&nbsp;
            a(href="tel:02-8751-8888").tel 02-8751-8888
            span /&nbsp;
            a(href="mailto:service@tasteforlife.com.tw") service@tasteforlife.com.tw

          .address__copyright.f14
            span © 2005-2017 Zi Jin Tang Co.,Ltd. All rights reserved.
            span &nbsp;/&nbsp;
            a(href="https://minmax.tw/", target="_blank") Designed by MINMAX 網頁設計

