
extends ./include/layout.pug

block content

  include ./include/index_block.pug
  include ./include/component.pug

  #info

    .container
      .breadcrumb
        ul.nostyle
          li 首頁
          li.icon-right-thin 月子餐組合選
          li.icon-right-thin 月子補養兩日餐(10日)

      +topLanding

      
        

      .tri-columns
        .catalog.leftBlock
          +catalog


        .items.midBlock.form-type-2

          .block__title 月子餐組合選

          .intro__head
            .head__left
              .show(style="background-image: url(styles/images/02-01-01.jpg);")#js-show

              .slick-intro
                .unit(style="background-image: url(styles/images/02-01-01.jpg);")
                .unit(style="background-image: url(styles/images/02-01-05.jpg);")
                .unit(style="background-image: url(styles/images/02-01-06.jpg);")
                .unit(style="background-image: url(styles/images/02-01-07.jpg);")
                .unit(style="background-image: url(styles/images/02-01-08.jpg);")
                .unit(style="background-image: url(styles/images/02-01-09.jpg);")

            .head__right

              h3.f24.wide5 月子補養兩日餐(10日)
              .f16.lh20
                div 素燉富含膳食纖維是坐月子混搭的好選擇
                .vege.border-1 奶蛋素

                .group #[span 付款方式] 信用卡付款  \  超商代碼繳費  \  虛擬帳號轉帳

                
                .group.border-2 #[span 配送方式] 低溫宅配
                .group #[span 配送方式] 低溫宅配
                
                .group.border-2.radio
                  //- ===== 種類 2 ======
                  .scrollbarX
                    table
                      tr
                        th
                        th 產後第一週
                        th 產後第二週
                        th 產後第三週
                        th 產後第四週
                      tr
                        td 哺乳
                        td.radio_unit
                          input(type="radio", name="intro-1" id="intro-1-1") 
                          label(for="intro-1-1")
                        td.radio_unit
                          input(type="radio", name="intro-1" id="intro-1-2")
                          label(for="intro-1-2")
                        td.radio_unit
                          input(type="radio", name="intro-1" id="intro-1-3")
                          label(for="intro-1-3")
                        td.radio_unit
                          input(type="radio", name="intro-1" id="intro-1-4")
                          label(for="intro-1-4")
                      tr
                        td 不哺乳
                        td.radio_unit
                          input(type="radio", name="intro-1" id="intro-1-1-1") 
                          label(for="intro-1-1-1")
                        td.radio_unit
                          input(type="radio", name="intro-1" id="intro-1-1-2")
                          label(for="intro-1-1-2")
                        td.radio_unit
                          input(type="radio", name="intro-1" id="intro-1-1-3")
                          label(for="intro-1-1-3")
                        td.radio_unit
                          input(type="radio", name="intro-1" id="intro-1-1-4")
                          label(for="intro-1-1-4")



                .group.mb8
                  span 數量
                  .control
                    a.icon-plus
                    .mount 1
                    a.icon-minus
                .group.mb8
                  span 定價
                  .through $14,000
                .group.border-3.sale
                  span 特惠價
                  .f28 $11,888

                .group.links.mb32
                  a.btn 立即購買
                  a.btn.icon-cart 加入購物車

                .group
                  .mr40.share
                    span 分享：
                    a: img(src="./styles/images/02-01-20.png" alt="紫金堂")
                    a: img(src="./styles/images/02-01-21.png" alt="紫金堂")

                  .trace
                    span 加入追蹤清單：
                    span.icon-heart


          .intro__main#js-page
            .page
              a(data-page="page1").active 商品說明
              a(data-page="page2") 購物說明
            .content.js-page1
              .content__text.lh20
                .f24 月子補養兩日餐 (10天)
                  span.vege (蛋奶素)

                p 爲滿足現代女性必須於短短三十天內做好產後調養、哺育母乳以及快速回復體態的需求；紫金堂秉持中醫漸進式調理觀點，結合現代營養學，研發代謝、修復、滋補、回春四階段月子養生素燉膳食。
                p 為了讓消費者更能輕易體驗「月子餐組合選」的獨特之處與方便性，特地開發全新的素燉組合餐，另外為了媽媽們產後想親自哺乳新生兒，餐點另有一般組合餐與哺乳組合餐，請先了解個人需求後下單。

                .dark 【月子餐組合選內容】
                p 補氣主食6碗、調養燉品6碗、養生飲品10包。
                .dark 【配送方式】
                p 兩日1配。
                .dark 【每日用餐建議】
                p 早餐-補氣主食1碗、調養燉品1碗、養生飲品1包。#[br]
                  | 午餐-補氣主食1碗、調養燉品1碗、養生飲品1包。#[br]
                  | 下午茶-養生飲品1包。#[br]
                  | 晚餐-補氣主食1碗、調養燉品1碗、養生飲品1包。#[br]
                  | 晚安飲-養生飲品1包。
                  | 備有一般組合餐與哺乳組合餐可任選。

                .dark 【調養燉品】
                .week
                  .group
                    div 第一週：
                    div 丹蔘素魚湯、海苔米糕湯、枸杞豆包湯、四神豆腸湯、黑豆薏米素羊肉、忘憂腰果菜捲湯、山藥麥條湯、牛蒡福袋湯、藕節銀耳湯、百菇素雞湯、耆瓜素魚湯(哺)、木瓜白豆八珍湯(哺)、花生黃金鴨(哺)等輪替。
                  .group
                    div 第二週：
                    div 杜仲固本湯、巴戟天固本湯、牛蒡福袋湯、海苔米糕湯、四神豆腸湯、忘憂腰果菜捲湯、藕節銀耳湯、枸杞豆包湯、百頁羅宋湯、牛蒡福袋湯、麻薑珍菇湯、紅麴素鰻湯、耆瓜素魚湯(哺)、木瓜白豆八珍湯(哺)、花生黃金鴨(哺)等輪替。
                  .group
                    div 第三週：
                    div 百菇素雞湯、麻薑珍菇湯、帝王素雞、紅麴素鰻湯、黑豆薏米素羊肉、牛蒡福袋湯、藥燉獅子頭、藕節銀耳湯、百頁羅宋湯、山藥麥條湯、枸杞豆包湯、忘憂腰果菜捲湯、杜仲固本湯、耆瓜素魚湯(哺)、木瓜白豆八珍湯(哺)、花生黃金鴨(哺)等輪替。
                  .group
                    div 第四週：
                    div 百菇素雞湯、帝王素雞、麻薑珍菇湯、紅麴素鰻湯、黑豆薏米素羊肉、藥燉獅子頭、藕節銀耳湯、牛蒡福袋湯、海苔米糕湯、藕節銀耳湯、山藥麥條湯、百頁羅宋湯、耆瓜素魚湯(哺)、木瓜白豆八珍湯(哺)、花生黃金鴨(哺)等輪替。

                span.dark 【補氣主食】
                p 晶玉薏仁、油飯、地瓜糙米飯、十穀飯、玉米雜糧飯、紅豆薏仁、紫米棗香飯等輪替

                span.dark 【養生飲品】
                p 觀音串、仙楂、黃耆、清熱飲、草本止渴飲等輪替。

              .content__pic
                img(src="./styles/images/02-01-05.jpg" alt="紫金堂")
                img(src="./styles/images/02-01-06.jpg" alt="紫金堂")
                img(src="./styles/images/02-01-07.jpg" alt="紫金堂")
                img(src="./styles/images/02-01-08.jpg" alt="紫金堂")
                img(src="./styles/images/02-01-09.jpg" alt="紫金堂")


            .content.js-page2
              .content__text.lh20
                .f24 月子餐組合選訂購相關
                .red 出貨方式
                p 中午12：00前完成付款，三個工作日到貨(不包含下單日)。（可以預購及指定到貨日）#[br]
                  | 中午12：00前未完成付款，視為隔日訂單。#[br]
                  | 紫金堂專屬車隊全台低溫冷藏二日一配送，每日上午10：00前新鮮宅配到府。(每次送餐均為兩天份)#[br]
                  | 本島偏遠地區、宜花東委由冷藏宅急便配送。#[br]
                  | 外島澎湖地區、金門地區、金門烈嶼鄉、小琉球、綠島、馬祖，以上區域均可配送。#[br]
                  | 均委由飛機運送，每日加收200元運費。
                  span.orange (偏遠地區與特殊地區運費另計)

                .red.bus 線上訂購
                  img(src="./styles/images/02-01-22.png" alt="紫金堂")
                p 付款方式：線上刷卡、ATM轉帳、超商付款(金額須低於兩萬)、銀行匯款。
                .red.mb24 本網站商品售價，僅限於臺灣地區。

                
                .img-group.mb32
                  .left-group
                    .info__title 即時入帳
                    .info__content
                      div
                        img(src="./styles/images/02-01-23.png" alt="紫金堂")
                        span 線上刷卡
                      div
                        img(src="./styles/images/02-01-24.png" alt="紫金堂")
                        span Web ATM
                      div
                        img(src="./styles/images/02-01-25.png" alt="紫金堂")
                        span ibon 付款
                      div
                        img(src="./styles/images/02-01-26.png" alt="紫金堂")
                        span 全家付款
                  .right-group
                    .info__title 以實際入帳日為準
                    .info__content
                      div 
                        img(src="./styles/images/02-01-27.png" alt="紫金堂")
                        span ATM 轉帳
                      div.transY
                        img(src="./styles/images/02-01-28.png" alt="紫金堂")
                        span 超商付款 #[br] (兩天入帳)

                .red 退餐注意事項
                p 1. 到貨日前一天恕無法要求延後到貨日、異動訂購內容或取消訂單，本餐點食材皆下單後進行採購，退餐請於出貨日前二日來電告知。
                p 2. 本商品為低溫保鮮食品保存條件嚴謹，故不適用於消保法規之七日鑑賞期，收到商品二日內如發現產品有瑕疵狀況，請儘速向本公司聯絡，並請低溫保存。

                p.dark 月子餐組合選  客服專線 
                  a.orange.f32 0800-289-666
                  | (上班時間)


                
        .rightBlock

          +cart
          +record


