
extends ./include/layout.pug

block content

  include ./include/index_block.pug
  include ./include/component.pug

  #info
    .container
      .breadcrumb
        ul.nostyle
          li 首頁
          h2.sr-only 商品專區
          li.icon-right-thin 月子餐組合選
          li.icon-right-thin 月子補養兩日餐(10日)

      +topLanding

      .tri-columns.mb56
        .catalog.leftBlock
          +catalog


        //- .items.midBlock.form-type
        .midBlock

          .block__title 月子餐組合選

          .intro__head
            .head__left
              //- a.show(style="background-image: url(styles/images/02-01-01.jpg);" data-lity  href="styles/images/02-01-01.jpg")#js-show
              a.show(style="background-image: url(styles/images/02-01-01.jpg);")#js-show

              .slick-intro
                .unit(style="background-image: url(styles/images/02-01-01.jpg);")
                .unit(style="background-image: url(styles/images/02-01-11.jpg);")
                .unit(style="background-image: url(styles/images/02-01-12.jpg);")
                .unit(style="background-image: url(styles/images/02-01-13.jpg);")
                //- .unit(style="background-image: url(styles/images/02-01-08.jpg);")
                //- .unit(style="background-image: url(styles/images/02-01-09.jpg);")

            .head__right

              h4.f24.wide5 月子補養兩日餐(10日)
              .f16.lh20
                div 素燉富含膳食纖維是坐月子混搭的好選擇
                .vege.border-1 奶蛋素

                .group #[span 付款方式] 信用卡付款  \  超商代碼繳費  \  虛擬帳號轉帳
                //- ===== 預設頁面 1 ======
                .group.border-2 #[span 配送方式] 低溫宅配

                .group.mb8
                  span 數量
                  .control
                    a.icon-plus
                    .mount 1
                    a.icon-minus
                .group.mb8
                  span 定價
                  .through $14,000
                .group.border-3.sale
                  span 特惠價
                  .f28 $11,888

                .group.links.mb32
                  a(href="cart.html").btn 立即購買
                  a.btn.icon-cart 加入購物車
                  

                .group
                  .mr40.share
                    span 分享：
                    a: img(src="./styles/images/02-01-20.png" alt="紫金堂")
                    a: img(src="./styles/images/02-01-21.png" alt="紫金堂")

                  .trace
                    span 加入追蹤清單：
                    span.icon-heart(data-lity href="#modal-trace")


          +page-main

        .rightBlock
          +cart
          +record

    #modal-trace.lity-hide
      .wrapper
        .icon-heart
        .lh18 已加入追蹤清單 #[br] 前往
          a(href="trace.html") 我的追蹤清單

