
extends ./include/layout.pug

block content
  .container
    .breadcrumb
      ul.nostyle
        li 首頁
        li.icon-right-thin 會員專區
          h2.sr-only 會員專區
        li.icon-right-thin 訂單紀錄
        
  #order.bgcWhite
    
    .slcik-menu.eq9
      ul.nostyle(data-menu="1")
        li.active
          a(data-abbr="訂單紀錄" href="order.html") 訂單紀錄
        li 
          a(data-abbr="退貨查詢" href="returned.html") 退貨查詢
        li 
          a(data-abbr="追蹤清單" href="trace.html") 我的追蹤清單
        li 
          a(data-abbr="紅利點數" href="bonus.html") 紅利點數
        li 
          a(data-abbr="資料維護" href="profile.html") 會員資料維護
        //- li 
        //-   a(data-abbr="媽媽教室" href="course.html") 媽媽教室
        //- li 
        //-   a(data-abbr="預約試吃" href="taste.html") 預約試吃
        li 
          a(data-abbr="訂閱電子報" href="subscribe.html") 訂閱電子報

    .container.pt40

      .control-row

        h3.brown.f24 訂單紀錄

        label.select_unit.mr24
          span 篩選：
          select(required)
            option(value="1" selected) 最近三個月訂單
            option(value="2") 篩選2
            option(value="3") 篩選3

        label.select_unit.mr24.md
          span 排序依據：
          select(required)
            option(value="1" selected) 訂購日期
            option(value="2") 排序依據2
            option(value="3") 排序依據3

        form.search_unit.icon-scan
          input(type="search", placeholder="搜尋") 
          input(type="submit",  value="搜尋") 

      .scrollbarX.plain
        table.mt32.table
          tr 
            th 訂單編號
            th 訂購日期
            th 訂單狀態
            th 訂單金額
            th 付款方式
            th 預定出貨日
            th 配送狀態
            th 取消/退貨
            th 客服問答
          tr
            td: a(href="detail.html") A2017120701
            td 2017/12/15
            td 訂單成立
            td NT $ 11,888
            td ATM
            td -
            td 待處理
            td -
            td: a(href="inquire.html") 詢問

          tr
            td: a(href="detail.html") A2017120701
            td 2017/12/01
            td 訂單成立
            td NT $ 12,848
            td 信用卡
            td 2017/12/03
            td 處理中
            td: a(href="#modal-cancel" data-lity) 取消訂單
            td: a(href="inquire.html") 詢問
          tr
            td: a(href="detail.html") A2017120701
            td 2017/07/30
            td 訂單取消
            td NT $ 2,388
            td -
            td -
            td -
            td -
            td: a(href="inquire.html") 詢問
          tr
            td: a(href="detail.html") A2017120701
            td 2017/07/22
            td 訂單完成
            td NT $ 22,888
            td Web ATM
            td 2017/08/01
            td 已出貨
            td -
            td: a(href="inquire.html") 詢問
          tr
            td: a(href="detail.html") A2017120701
            td 2017/05/17
            td 已送達
            td NT $ 1,050
            td 信用卡
            td -
            td 已送達
            td: a(href="return.html") 申請退貨
            td: a(href="inquire.html") 詢問
          tr
            td: a(href="detail.html") A2017120701
            td 2017/03/08
            td 退款完成
            td NT $ 938
            td 信用卡
            td -
            td 退款完成
            td: a(href="returned.html") 退貨查詢
            td: a(href="inquire.html") 詢問
          tr
            td: a(href="detail.html") A2017120701
            td 2017/06/07
            td 退貨中
            td NT $ 3,600
            td 信用卡
            td -
            td 退貨中
            td -
            td: a(href="inquire.html") 詢問

      .pages.pt40.pb56
        a(href="#").icon-first
        a(href="#").icon-prev
        a(href="#").active 1
        a(href="#") 2
        a(href="#") 3 
        a(href="#") 4
        a(href="#") 5
        a(href="#").icon-next
        a(href="#").icon-last

  //- #modal-cancel.modal.f16
  #modal-cancel.lity-hide.modal.f16
    .modal__main
      .f24.lh20.mb16 確定取消訂單?
      .lh20 訂單取消後，系統無法為您保留取消的商品庫存；重新下單可能會遇到商品庫存被其他會員購買，建議您取消後立即重新下單。
    .submit.pt48.pb40
      a(href="cancel.html").btn 確認取消
      a.btn.cancel 放棄取消
      
