
extends ./include/layout.pug

block content

  #privacy

    .container.mb80
      .breadcrumb
        ul.nostyle
          li 首頁
          li.icon-right-thin 會員專區
            h2.sr-only 會員專區
            h3.sr-only 會員條款

    .container.md
      .title.f24.mb40 會員條款

      p.mb32 歡迎您加入成為紫金堂Shopping的會員：

      .scrollbarY.mb32
        .content.lh20
          p 一、認知與接受條款 #[br]
            | &nbsp;&nbsp;Shopping（以下稱本服務）係由紫金堂股份有限公司（簡稱「紫金堂」）依據本會員服務使用條款所提供的服務，本條款訂定之目的，即在於盡可能 保護會員的權益，同時確認本公司及商品供應商與會員之間的契約關係。#[br]
            | 當您完成紫金堂之會員註冊手續、或開始使用本服務時，即表示您已閱讀、瞭解並同意接受本服務條款之所有內容與約定。紫金堂有權於任何時間基 於需要而修改或變更本條款內容，修改後的條款內容將公佈在本服務的網站上，紫金堂將不會個別通知會員，建議您隨時注意該等修改或變更。當您 於修改或變更後繼續使用本服務時，視為您已閱讀、瞭解並同意接受該等修改或變更。若您為未滿二十歲之未成年人，應於您的家長（或監護人）閱 讀、瞭解並同意本約定書之所有內容及其後修改變更後，方得註冊為會員、使用或繼續使用本服務。 

          p 二、您的註冊義務 #[br]
            | 為了能使用本服務，您同意以下事項： #[br]
            | （1）依本服務註冊表之提示提供您本人正確、最新的資料，且無重覆註冊登錄等情事。#[br]
            | （2）即時維持並更新您個人資料，確保其正確性，以獲取最佳之服務。若您提供任何錯誤、不實或不完整的資料，紫金堂有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部。 

          p 三、隱私權政策 #[br]
            | 關於您的會員註冊以及其他特定資料依紫金堂「隱私權政策」受到保護與規範。

          p 四、會員帳號、密碼及安全 #[br]
            | 完成本服務的登記程序之後，將取得一個特定之密碼及會員帳號，您必須自行妥善保管、使用您的會員帳號及密碼，任何依照規定方法輸入會員帳號 及密碼與登入資料一致時，無論是否由本人親自輸入，均將視為會員本人所使用。利用該密碼及帳號所進行的一切行動，您將負完全的責任。並同意以下事項： #[br]
            | （1）您的密碼或帳號遭到盜用或有其他任何安全問題發生時，您將立即通知紫金堂客服中心。 #[br]
            | （2）每次連線完畢，均登出您的帳號。 #[br]
            | （3）您的帳號、密碼及會員權益均僅供您個人使用及享有，不得轉借、轉讓他人或與他人合用。 #[br]
            | （4）帳號及密碼遭盜用、不當使用或本服務無法辯識是否為本人親自使用之情況時，紫金堂對此所致之損害，概不負責。

          p 五、禁止轉售服務 #[br]
            | 您同意不對本服務任何部分或本服務之使用或存取，進行重製、拷貝、出售、交易、轉售或作任何商業目的之使用。

          p 七、本服務暫停或中斷 #[br]
            | 在下列情形，本服務將暫停或中斷本服務之全部或一部，且對使用者任何直接或間接之損害，均不負任何責任： #[br]
            | （1）本服務網站相關硬軟體設備進行搬遷、更換、升級、保養或維修時 #[br]
            | （2）發生突發性之硬軟體設備故障時 #[br]
            | （3）天災或其他不可抗力所致之服務停止或中斷 #[br]
            | （4）使用者有任何違反政府法令或本使用條款情形

          p 八、交易行為 #[br]
            | 您若於使用本服務訂購產品後倘任意退換貨、取消訂單、或有任何本服務認為不適當而造成作業上之困擾或損害之行為，均可視情況採取拒絕交易或永久取消會員資格辦理。 若您訂購之產品若屬商品缺絕、或廠商因故無法順利供貨之情況下，您同意本服務得視情況取消或修改交易（訂單）內容、或延遲交貨時間，並選擇以最適方式告知。

          p 九、責任之限制與排除 #[br]
            | 本服務所提供之各項功能，均依該功能當時之現況提供使用，本服務對於其效能、速度、完整性、可靠性、安全性、正確性等，皆不負擔任何明示或默示之擔保責任。並不保 證本服務之網頁、伺服器、網域等所傳送的電子郵件或其內容不會含有電腦病毒等有害物；亦不保證郵件、檔案或資料之傳輸儲存均正確無誤不會斷線和出錯等，因各該郵件 、檔案或資料傳送或儲存失敗、遺失或錯誤等所致之損害，紫金堂不負賠償責任。您同意於使用本服務過程中所有資料記錄，均以資料庫所儲存之電子資料為準，如有糾紛或 訴訟，並以該電子資料為認定標準。

      


      .submit.pt80.pb88
        a(href="registered.html").btn 送出
        a.btn.cancel 取消

