
extends ./include/layout.pug

block content
  #qa

    .container
      .breadcrumb
        ul.nostyle
          li 首頁
          li.icon-right-thin 常見問題

      .landing(style="background-image: url(styles/images/cart-bgc.jpg);")
        .slogan
          h2.f56 常見問題
          .f24.bd 安心‧感動‧幸福


      .catalog.qa
        .block__title 產品分類

        .qa__menu

        
        .qa__content

