
extends ./include/layout.pug

block content
  #qa
    .container
      .breadcrumb
        ul.nostyle
          li 首頁
          li.icon-right-thin 常見問題

      .landing(style="background-image: url(styles/images/cart-bgc.jpg);")
        .slogan
          h2.f56 常見問題
          .f24.bd 安心‧感動‧幸福


      .qa
        .block__title 常見問題
        .block__content

          .qa__menu
            .scrollbarX
              ul.nostyle.wide5
                li.active 會員資料
                li 購物相關
                li 運送相關
                li 退換貨及退款
                li 發票相關
                li 訂單相關
                li 付款相關
                li 紅利點數
                li 月子餐
                li 小產餐
                li 生理餐
                li 其他餐點

            .control
              .icon-left-thin
              .icon-right-thin

          ul.qa__content.nostyle.mb96.f16
            li.expend
              .unit__q Q. 該如何加入會員? #[.plus]
              .unit__a A. 為了簡化您的購物流程，只要您於本站完成第一次購物並詳細填寫您的基本資料，您即可成為正式會員。  #[br] 若您以在紫金堂官方網站-購物商城註冊過會員，不需在本站重複註冊，您可使用紫金堂會員帳號登入本站即可進行線上購物。
            li
              .unit__q Q. 沒有會員身分是否可以購物呢？ #[.plus]
              .unit__a A. 為了簡化您的購物流程，只要您於本站完成第一次購物並詳細填寫您的基本資料，您即可成為正式會員。  #[br] 若您以在紫金堂官方網站-購物商城註冊過會員，不需在本站重複註冊，您可使用紫金堂會員帳號登入本站即可進行線上購物。
            li
              .unit__q Q. 如何修改個人資料及密碼？ #[.plus]
              .unit__a A. 為了簡化您的購物流程，只要您於本站完成第一次購物並詳細填寫您的基本資料，您即可成為正式會員。  #[br] 若您以在紫金堂官方網站-購物商城註冊過會員，不需在本站重複註冊，您可使用紫金堂會員帳號登入本站即可進行線上購物。
            li
              .unit__q Q. 忘記密碼怎麼辦？ #[.plus]
              .unit__a A. 為了簡化您的購物流程，只要您於本站完成第一次購物並詳細填寫您的基本資料，您即可成為正式會員。  #[br] 若您以在紫金堂官方網站-購物商城註冊過會員，不需在本站重複註冊，您可使用紫金堂會員帳號登入本站即可進行線上購物。
            li
              .unit__q Q. 忘記第一次購物時所填寫的會員E-mail信箱怎麼辦？ #[.plus]
              .unit__a A. 為了簡化您的購物流程，只要您於本站完成第一次購物並詳細填寫您的基本資料，您即可成為正式會員。  #[br] 若您以在紫金堂官方網站-購物商城註冊過會員，不需在本站重複註冊，您可使用紫金堂會員帳號登入本站即可進行線上購物。
            li
              .unit__q Q. 沒有會員身分是否可以購物呢？ #[.plus]
              .unit__a A. 為了簡化您的購物流程，只要您於本站完成第一次購物並詳細填寫您的基本資料，您即可成為正式會員。  #[br] 若您以在紫金堂官方網站-購物商城註冊過會員，不需在本站重複註冊，您可使用紫金堂會員帳號登入本站即可進行線上購物。
            li
              .unit__q Q. 如何修改個人資料及密碼？ #[.plus]
              .unit__a A. 為了簡化您的購物流程，只要您於本站完成第一次購物並詳細填寫您的基本資料，您即可成為正式會員。  #[br] 若您以在紫金堂官方網站-購物商城註冊過會員，不需在本站重複註冊，您可使用紫金堂會員帳號登入本站即可進行線上購物。
            li
              .unit__q Q. 忘記密碼怎麼辦？ #[.plus]
              .unit__a A. 為了簡化您的購物流程，只要您於本站完成第一次購物並詳細填寫您的基本資料，您即可成為正式會員。  #[br] 若您以在紫金堂官方網站-購物商城註冊過會員，不需在本站重複註冊，您可使用紫金堂會員帳號登入本站即可進行線上購物。
            li
              .unit__q Q. 忘記第一次購物時所填寫的會員E-mail信箱怎麼辦？ #[.plus]
              .unit__a A. 為了簡化您的購物流程，只要您於本站完成第一次購物並詳細填寫您的基本資料，您即可成為正式會員。  #[br] 若您以在紫金堂官方網站-購物商城註冊過會員，不需在本站重複註冊，您可使用紫金堂會員帳號登入本站即可進行線上購物。
            li
              .unit__q Q. 沒有會員身分是否可以購物呢？ #[.plus]
              .unit__a A. 為了簡化您的購物流程，只要您於本站完成第一次購物並詳細填寫您的基本資料，您即可成為正式會員。  #[br] 若您以在紫金堂官方網站-購物商城註冊過會員，不需在本站重複註冊，您可使用紫金堂會員帳號登入本站即可進行線上購物。



