
extends ./include/layout.pug

block content
  .container
    .breadcrumb
      ul.nostyle
        li 首頁
        li.icon-right-thin 會員專區
          h2.sr-only 會員專區
        
        li.icon-right-thin 申請退貨
          h3.sr-only 申請退貨

  #returning
    
    .slcik-menu.eq9.bgcWhite
      ul.nostyle(data-menu="2")
        li.active
          a(data-abbr="訂單紀錄" href="order.html") 訂單紀錄
        li 
          a(data-abbr="退貨查詢" href="returned.html") 退貨查詢
        li 
          a(data-abbr="追蹤清單" href="trace.html") 我的追蹤清單
        li 
          a(data-abbr="紅利點數" href="bonus.html") 紅利點數
        li 
          a(data-abbr="資料維護" href="profile.html") 會員資料維護
        //- li
        //-   a(data-abbr="媽媽教室" href="course.html") 媽媽教室
        //- li 
        //-   a(data-abbr="預約試吃" href="taste.html") 預約試吃
        li 
          a(data-abbr="訂閱電子報" href="subscribe.html") 訂閱電子報

    form.container.pt40
    
      .infoCard.mb32.w100
        .infoCard__title 
          span.f24 退貨明細確認
          span 請確認您退貨的商品內容及基本資料，共 #[span.brown 2] 項商品
          a(href="return.html").brown 編輯 

        .top_select
          .radio_unit
            input(type="radio" name="return" id="part-return" checked) 
            label(for="part-return") 部分退貨
          
        .infoCard__content.infoCard--multiple


          .multiple__main.plain
            table.table.mb24
              tr 
                th 退貨單號
                th 退訂日期
                th 退貨狀態
                th 退款金額
                th 退款方式
                th 退款狀態
                th 商品狀態
                th 收貨狀態
              tr 
                td(data-title="退貨單號"): div.fc R2017123001
                td(data-title="退訂日期"): div.fc 2017/12/30 #[br] 15:00
                td(data-title="退貨狀態"): div.fc 退貨成立
                td(data-title="退款金額"): div.fc NT $ 34,776
                td(data-title="退款方式"): div.fc 銀行匯款
                td(data-title="退款狀態"): div.fc 待處理
                td(data-title="商品狀態"): div.fc 
                  .red 退貨處理中
                td(data-title="收貨狀態"): div.fc -

          .baseline.mb16
            .icon-thermometer.normal 常溫配送
            span 退貨 #[span.brown 1] 項商品

          .multiple__secondary.mb32
            .table__title
              div.pic 圖片
              div.name 商品貨號 / 商品名稱
              div.num 數量
              div.per 單價
              div.sum 小計

            .table__content

              div.pic
                img(src="./styles/images//02-01-01.jpg" alt="紫金堂")
              div.name 
                a(href="intro.html") 月子補養兩日餐(10日)
              div(data-title="數量").num 1
              div.per NT$11,888
              div.sum NT$11,888

            .table__total.wide5
              div 共 1 項，退貨總計金額 =
              div NT $ -11,888


          .baseline.mb16
            .icon-thermometer.low 低溫配送
            span 退貨 #[span.brown 1] 項商品

          .multiple__secondary.mb16
            .table__title
              div.pic 圖片
              div.name 商品貨號 / 商品名稱
              div.num 數量
              div.per 單價
              div.sum 小計
              
            .table__content
              div.pic 
                img(src="./styles/images/01-item01.jpg" alt="紫金堂")
              div.name 
                a(href="intro.html") 月子補養兩日餐(10日)
                  .sub 產後第一週 + 哺乳 (出一停一)
              div(data-title="數量").num 1
              div.per NT$22,888
              div.sum NT$22,888
              
            .table__total 
              div 共 1 項，退貨總計金額 =
              div NT $ -22,888


      .infoCard.mb32.w100
        .infoCard__title
          span.f24 退貨資訊
          a(href="return.html").brown 編輯 
        .infoCard__content.infoCard--list
          ul.nostyle
            li
              span 退貨原因
              span 重訂(改付款方式/改買別款)


      .infoCard.mb32
        .infoCard__title
          span.f24 退貨收件人資料確認
          a(href="return.html").brown 編輯 
        .infoCard__content.infoCard--list
          ul.nostyle
            li
              span.sp 姓名
              span 張樂樂  小姐
            li
              span 電子信箱
              span test@gmail.com
            li
              span 聯絡電話
              span 0988-818-818
            li
              span 退貨地址
              span 40647 台中市北屯區東山路一段147巷49號


      .infoCard.mb32
        .infoCard__title 
          span.f24 退款資訊確認
          a(href="return.html").brown 編輯 

        .infoCard__content.infoCard--list
          ul.nostyle
            li
              span 退款方式
              span 銀行轉帳
            li
              span 銀行名稱
              span 808 玉山銀行   玉里分行
            li
              span 銀行帳號
              span 9888-8888-12345-8
            li
              span.sp 戶名
              span 張樂樂
            li
              span 備註說明
              span 無


      .infoCard.mb32.w100
        .infoCard__title: span.f24 訂單備註
        .infoCard__content.infoCard--list
          ul.nostyle
            li.tel.lh20 如您有任何問題，請至「 #[.red 客服中心]」或撥專線
              a(href="tel:0800-289-666").italicNum.f24.ml8 0800-289-666
              | ，將有客服專員為您服務
      

      .submit.pt32
        a(href="returns.html").btn 確認送出
        a(href="return.html").btn.cancel 返回

