
extends ./include/layout.pug

block content
  .container
    .breadcrumb
      ul.nostyle
        li 首頁
        li 會員專區
        li.icon-right-thin 退貨查詢

  #return.bgcWhite
    
    .slcik-menu.eq9
      ul.nostyle
        li
          a(href="order.html") 訂單紀錄
        li.active 
          a(href="returned.html") 退貨查詢
        li 
          a(href="trace.html") 我的追蹤清單
        li 
          a(href="bonus.html") 紅利點數
        li 
          a(href="profile.html") 會員資料維護
        li 
          a(href="course.html") 媽媽教室
        li 
          a(href="taste.html") 預約試吃
        li 
          a(href="subscribe.html") 訂閱電子報

    .container.pt40

      .control-row

        h3.brown.f24 退貨查詢

        label.select_unit.mr24
          span 篩選：
          select(required)
            option(value="1" selected) 最近三個月訂單
            option(value="2") 篩選2
            option(value="3") 篩選3

        label.select_unit.mr24.md
          span 排序依據：
          select(required)
            option(value="1" selected) 申請日期
            option(value="2") 排序依據2
            option(value="3") 排序依據3

        form.search_unit.icon-scan
          input(type="search", placeholder="搜尋") 
          input(type="submit",  value="搜尋") 
