
extends ./include/layout.pug

block content

  #privacy

    .container.mb80
      .breadcrumb
        ul.nostyle
          li 首頁
          li.icon-right-thin 會員專區
            h2.sr-only 會員專區
            h3.sr-only 會員條款

    .container.md
      .title.f24.mb40 會員條款

      p.mb32 歡迎您加入成為紫金堂Shopping的會員：

      .removeScroll.mb32.lh20
        
        p 一、認知與接受條款 #[br]
          | 紫金堂購物商城（以下稱本服務）係由紫金堂股份有限公司（簡稱「紫金堂」）依據本會員服務使用條款所提供的服務，本條款訂定之目的，即在於盡可能保護會員的權益，同時確認本公司及商品供應商與會員之間的契約關係。#[br]
          | 當您完成紫金堂之會員註冊手續、或開始使用本服務時，即表示您已閱讀、瞭解並同意接受本服務條款之所有內容與約定。紫金堂修改後的條款內容將公佈在本服務的網站上，建議您隨時注意修改或變更。當您於修改或變更後繼續使用本服務時，視為您已閱讀、瞭解並同意接受該等修改或變更。若您為未滿二十歲之未成年人，應於您的家長（或監護人）閱讀、瞭解並同意本約定書之所有內容及其後修改變更後，方得註冊為會員、使用或繼續使用本服務。 

        p 二、您的註冊義務 #[br]
          | 為了能使用本服務，您同意以下事項： #[br]
          | （1）依本服務註冊表之提示提供您本人正確、最新的資料，且無重覆註冊登錄等情事。#[br]
          | （2）即時維持並更新您個人資料，確保其正確性，以獲取最佳之服務。若您提供任何錯誤、不實或不完整的資料，紫金堂有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部。 

        p 三、隱私權政策 #[br]
          | 關於您的會員註冊以及其他特定資料依紫金堂「隱私權政策」受到保護與規範。

        p 四、會員帳號、密碼及安全 #[br]
          | 完成本服務的登記程序之後，將取得一個特定之密碼及會員帳號，您必須自行妥善保管、使用您的會員帳號及密碼，任何依照規定方法輸入會員帳號 及密碼與登入資料一致時，無論是否由本人親自輸入，均將視為會員本人所使用。利用該密碼及帳號所進行的一切行動，您將負完全的責任。並同意以下事項： #[br]
          | （1）您的密碼或帳號遭到盜用或有其他任何安全問題發生時，您將立即通知紫金堂客服中心(0800-289-666) #[br]
          | （2）每次連線完畢，均登出您的帳號。 #[br]
          | （3）您的帳號、密碼及會員權益均僅供您個人使用及享有，不得轉借、轉讓他人或與他人合用。 #[br]
          | （4）帳號及密碼遭盜用、不當使用或本服務無法辯識是否為本人親自使用之情況時，紫金堂對此所致之損害，概不負責。

        p 五、禁止轉售服務 #[br]
          | 您同意不對本服務任何部分或本服務之使用或存取，進行重製、拷貝、出售、交易、轉售或作任何商業目的之使用。

        p 六、系統安全 #[br]
          | （1）本系統不以任何明示或默示的方式擔保您所上載或傳輸的資料將被正常顯示或處理，亦不擔保資料傳輸的正確性；如果您發現本系統有錯誤或疏失，請立即通知紫金堂客服中心。
          | （2）本系統會定期備份資料，但是除非本系統有故意或重大過失，本系統不對任何資料的失誤刪除、備份錯誤或失敗負責。 


        p 七、本服務暫停或中斷 #[br]
          | 在下列情形，本服務將暫停或中斷本服務之全部或一部： #[br]
          | （1）天災或其他不可抗力所致之服務停止或中斷 #[br]
          | （2）使用者有任何違反政府法令或本使用條款情形

        p 八、交易行為 #[br]
          | 您若於使用本服務訂購產品後倘任意退換貨、取消訂單、或有任何本服務認為不適當而造成作業上之困擾或損害之行為，均可視情況採取拒絕交易或永久取消會員資格辦理。若您訂購之產品若屬商品缺絕、或廠商因故無法順利供貨之情況下，您同意本服務得視情況取消或修改交易（訂單）內容、或延遲交貨時間，並選擇以最適方式告知。
        
        p 九、智慧財產權的保護 #[br]
          | 本服務所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由本服務或其他權利人依法擁有其 智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程 、解編或反向組譯。若您欲引用或轉載前述軟體、程式或網站內容，必須依法取得紫金堂或其他權利人的事前書面同意。尊重智慧財產權是您應盡的義務，如有違反，您應對紫金堂負損害賠償責任。

        p 十、特別授權事項 #[br]
          | 因使用本服務所提供之網路交易或活動，可能須透過宅配或貨運業者始能完成貨品（或贈品等）之配送或取回，因此，您同意並授權紫金堂得視該次網路交易或活動之需求及 目的，將由您所提供且為配送所必要之個人資料（如收件人姓名、配送地址、連絡電話等）提供予宅配或貨運業者，以利完成該次貨品（或贈品等）之配送、取回。

        p 十一、準據法與管轄法院 #[br]
          | 您與本公司之權利義務關係，應依網路交易指導原則及中華民國法律定之；若發生任何爭議，以台灣台北地方法院為第一審管轄法院。本公司的任何聲明、條款如有未盡完善 之處，將以最大誠意，依誠實信用、平等互惠原則，共商解決之道。
