
extends ./include/layout.pug

block content

  .container
    .breadcrumb
      ul.nostyle
        li 首頁
        li.icon-right-thin 會員專區
          h2.sr-only 會員專區
        li.icon-right-thin 預約試吃
          h3.sr-only 預約試吃

  #taste.bgcWhite
    
    .slcik-menu.eq9
      ul.nostyle(data-menu="7")
        li
          a(data-abbr="訂單紀錄" href="order.html") 訂單紀錄
        li 
          a(data-abbr="退貨查詢" href="returned.html") 退貨查詢
        li 
          a(data-abbr="追蹤清單" href="trace.html") 我的追蹤清單
        li 
          a(data-abbr="紅利點數" href="bonus.html") 紅利點數
        li 
          a(data-abbr="資料維護" href="profile.html") 會員資料維護
        //- li
        //-   a(data-abbr="媽媽教室" href="course.html") 媽媽教室
        //- li.active 
        //-   a(data-abbr="預約試吃" href="taste.html") 預約試吃
        li 
          a(data-abbr="訂閱電子報" href="subscribe.html") 訂閱電子報



    .container.pt40.pb56

      .right-info
        .f24.mb16 預約試吃
        ul.nostyle.lh24
          li 紫金堂尊榮獨享-「到府試吃」採預約報名，請填寫
            a 預約申請表
          li 本公司餐點採低溫冷藏配送方式(一日一配送)
          li 每人每次僅能預約1次，請勿重複預約
          li 紫金月子餐試吃，可試吃正餐一份價值700元整，僅酌收試吃費200元；由調養師配送並親自為您現場解說。

      .site.mb40
        .site_title.lh18
          span.city 台中市
          span 紫金堂尊榮獨享-「到府試吃」
        .site_content
          ul.nostyle.text.lh18
            li #[span 預約日期：]106/03/15
            li #[span 預約狀態：]預約成功

            li.bd #[span 媽媽姓名：]張○○ 小姐
            li #[span 電子信箱：]test@gmail.com
            li #[span 市內電話：]04-2435-0749
            li #[span 聯絡手機：]0988-212-121
            li #[span 試吃餐別：]葷食
            li #[span 可聯絡時段：]13:00-17:00
            li #[span 生產醫院：]台中醫院
            li #[span 產別：]自然
            li #[span 預產期：]2017/12/31
            li #[span 胎次：]第一胎
            li #[span 聯絡地址：]407 台中市北屯區東山路一段147巷49號
            li #[span 資料來源：]網路廣告(Google、Yahoo) ； 網路月子餐搜尋
            li #[span 月子規劃方向：]月子餐 30 天

            li.ps.bd 備註：本服務僅提供懷孕中媽咪申請試吃
          a.btn.cancel(href="cancel-reserve.html") 取消預約




