

//- mixin breadcrumb
//-   .breadcrumb
//-     ul.nostyle
//-       li 首頁
//-       li.icon-right-thin 月子餐組合選


mixin topLanding

  .landing(style="background-image: url(styles/images/02-00-banner.jpg);")
    .slogan
      .f24 健康做月子
      h2.f56 月子膳食組合
      .f24.bd 安心‧感動‧幸福
      .f15 嚴選優良食材，紫金時尚膳食服務，讓您安心 #[br] 優惠的好選擇