
#footer.footer
  img(src="./styles/images/flower.png").flower1
  img(src="./styles/images/flower.png").flower2
  

  .sitemap
    ul.sitemap__content.nostyle.map
      li
        a(href="http://html.m000227.youweb.tw/birth.html" , target="_blank").f20 月子養生餐
        a(href="http://html.m000227.youweb.tw/birth.html" , target="_blank").anchor 餐點特色與服務
        a(href="http://html.m000227.youweb.tw/birth-2.html" , target="_blank").anchor 月子養生餐點介紹
        a(href="http://html.m000227.youweb.tw/birth-3.html" , target="_blank").anchor 訂購方案說明
        a(href="http://html.m000227.youweb.tw/birth-4.html" , target="_blank").anchor 客戶迴響
        a(href="http://html.m000227.youweb.tw/birth-5.html" , target="_blank").anchor 貼心小叮嚀
      li
        a(href="http://html.m000227.youweb.tw/medicine.html" , target="_blank").f20 月子藥膳調理
        a(href="http://html.m000227.youweb.tw/medicine.html" , target="_blank").anchor 月子藥膳產品介紹
        a(href="http://html.m000227.youweb.tw/medicine-2.html" , target="_blank").anchor 訂購與產品安全說明
        a(href="http://html.m000227.youweb.tw/medicine-3.html" , target="_blank").anchor 食譜示範
        a(href="http://html.m000227.youweb.tw/medicine-4.html" , target="_blank").anchor 藥膳調理秘訣與重點
      li
        a(href="http://html.m000227.youweb.tw/vigor.html" , target="_blank").f20 小產元氣餐
        a(href="http://html.m000227.youweb.tw/vigor.html" , target="_blank").anchor 餐點研發與特色
        a(href="http://html.m000227.youweb.tw/vigor-2.html" , target="_blank").anchor 調理重點與服務
        a(href="http://html.m000227.youweb.tw/vigor-3.html" , target="_blank").anchor 客戶迴響
        a(href="http://html.m000227.youweb.tw/vigor-4.html" , target="_blank").anchor 貼心小叮嚀
      li
        a(href="http://html.m000227.youweb.tw/period.html" , target="_blank").f20 生理期保養
        a(href="http://html.m000227.youweb.tw/period.html" , target="_blank").anchor 餐點與服務說明
        a(href="http://html.m000227.youweb.tw/period-2.html" , target="_blank").anchor 各色餐點
        a(href="http://html.m000227.youweb.tw/period-3.html" , target="_blank").anchor 餐點訂購與服務
        a(href="http://html.m000227.youweb.tw/period-4.html" , target="_blank").anchor 貼心小叮嚀
      li.secondary
        a(href="http://html.m000227.youweb.tw/about.html" , target="_blank") 線上購物
        a(href="http://html.m000227.youweb.tw/kitchen.html" , target="_blank") 關於我們
        a(href="http://html.m000227.youweb.tw/news.html" , target="_blank") 中央廚房
        a(href="http://html.m000227.youweb.tw/lecture.html" , target="_blank") 最新消息
        a(href="http://html.m000227.youweb.tw/train.html" , target="_blank") 媽媽教室
        a(href="http://www.tasteforlife-en.com/public/index" ) 國際培訓
    
    ul.sitemap__call.nostyle
      li.f20 月子養生餐
        a(href="tel:0800-289-666") 0800-289-666
      li.f20 月子藥膳調理
        a(href="tel:0800-289-666") 0800-289-666
      li.f20 小產元氣餐
        a(href="tel:0800-329-666") 0800-329-666
      li.f20 生理期保養
        a(href="tel:0800-329-666") 0800-329-666

  address.address
    a(href="index.html").address__logo
      img(src="./styles/images/01-banner-title.png", alt="紫金堂")

    .address__content

      ul.address__location.nostyle
        li 服務據點：
        li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank").anchorTo 台北
        li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 新北
        li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 桃園
        li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 新竹
        li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 台中
        li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 台南
        li.linebreak: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 高雄
        li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 宜蘭
        li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 金門
        li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 上海
        li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 新加坡
        li: a(href="http://html.m000227.youweb.tw/about-2.html" , target="_blank") 詳細資訊
          
      .address__contact
        a(href="https://goo.gl/maps/iUgK8fcwDwP2" , target="_blank").addr 11492 台北市內湖區瑞光路 513 巷 28 號 8 樓
        span /&nbsp;
        a(href="tel:02-8751-8888").tel 02-8751-8888
        span /&nbsp;
        a(href="mailto:service@tasteforlife.com.tw") service@tasteforlife.com.tw
        span /&nbsp;
        a(href="privacy.html") 隱私權條款
        span /&nbsp;
        a(href="service.html") 服務條款

      .address__copyright.f14
        span © 2005-2017 Zi Jin Tang Co.,Ltd. All rights reserved.
        span &nbsp;/&nbsp;
        a(href="https://minmax.tw/", target="_blank") Designed by MINMAX 網頁設計

