
//- mixin birth
//-   #birth
//-     .navPad
//-     .banner
//-       .imgLiquidFill
//-         img(src="./styles/images/02-00-banner.jpg", alt="紫金堂")
//-       div
//-         h2.f60 月子養生餐
//-         .group
//-           span.f26 安心、感動、幸福
//-           span.f26.hide  / 
//-           span.f26 客服專線：0800-289-666
//-       .mask

//-     .foreword.container
//-       .text.lh20
//-         span.f26 安心、感動、幸福
//-         p 坐月子的原理，就是藉由產後飲食的調養，讓產婦因懷孕被撐大的子宮可以完全收縮、復原，幫助內臟能迅速復位，修復耗損、恢復健康。
//-         p 女性從懷孕開始，子宮隨著胎兒的成長而撐大，內臟受到胎兒壓迫，孕婦在懷孕過程當中，心肺功能、泌尿功能、骨骼關節、腸胃系統、內分泌系統...等都產生極大的生理變化。懷胎十月後，又必須經歷劇痛、失血、耗盡氣力的生產過程。
//-       img(src="./styles/images/02-00-foreword.jpg", alt="紫金堂")

//-     .submenu
//-       ul.nostyle.slick
//-         li
//-           a(data-abbr="餐點特色服務" href="birth.html").f18.leftLine 餐點特色與服務
//-         li
//-           a(data-abbr="月子養生餐點" href="birth-2.html").f18 月子養生餐點介紹
//-         li
//-           a(data-abbr="訂購方案說明" href="birth-3.html").f18 訂購方案說明
//-         li
//-           a(data-abbr="客戶迴響" href="birth-4.html").f18 客戶迴響
//-         li
//-           a(data-abbr="貼心小叮嚀" href="birth-5.html").f18 貼心小叮嚀
//-     #content
//-       block
  


