
//- #dashboard
//-   .cover
//-   a(href="http://shop.tasteforlife.com.tw/"  ,target="_blank").big.gasp
//-     .icon-cart
//-     span 線上購物
//-   .icon-facebook.white.xl.gasp    
//-     .bar
//-       a(href="https://www.facebook.com/54mama", target="_blank") Facebook 粉絲團
//-   .icon-line.white.xl.gasp
//-     .bar
//-       a(href="#line" data-lity) 加入Line好友
    
//-   .icon-phone.white.lg.gasp
//-     .bar
//-       a(href="#phone" data-lity) 聯絡電話
  
//-   .icon-scan.white.gasp
//-     form.bar 
//-       label 網站搜尋
//-       .row
//-         input(type="search", placeholder="") 
//-         input(type="submit",  value="搜尋") 
//-   .go-top.icon-up.gasp
  
//-   //- a(href="#ADslick" data-lity)

//-   .plus#js-plus
//-     .one
//-     .two



.nav-padding
#nav
  .container
    a(href="index.html").logo
      h1.hidden 紫金堂
      img(src="./styles/images/00-icon.jpg", alt="紫金堂")
    .nav__content
      ul.nostyle.nav_office
        li: a(href="birth.html"   ) 月子養生餐
        li: a(href="medicine.html") 月子藥膳調理
        li: a(href="vigor.html"   ) 小產元氣餐
        li: a(href="period.html" ) 生理期保養  
        li: a(href="about.html"   ) 關於我們
        li: a(href="kitchen.html" ) 中央廚房
        li: a(href="news.html"    ) 最新消息
        li: a(href="lecture.html" ) 媽媽教室
        li: a(href="train.html"   ) 國際母嬰
        li: a(href="about.html") 聯絡我們
      .float
        a(href="member.html").login.icon-user 登入
        a(href="cart.html").cart.icon-cart
          .bedge 3

      .nav__toggle
        .one
        .two
        .three
      #nav_cover
        ul.nostyle.nav_shop
          li: a(href="index.html").active 商城首頁
          li: a(href="member.html") 會員專區
          li: a(href="qa.html") 常見問題
          li: a(href="guest-order.html") 非會員查詢
      
      


      


//- #line.lity-hide.box
//-   img(src="./styles/images/00-dashboard-line.jpg", alt="紫金堂").mb40
//-   span.f30.mb15 透過行動條碼加入LINE好友

//-   .trans
//-     span.lh18 開啟LINE應用程式，接著至「其他」頁籤 #[br]中的「加入好友」選單掃描行動條碼。



//- #phone.lity-hide.box
//-   span.f30.mb30 各服務項目 - 連絡電話
//-   table.table
//-     tr
//-       th 服務項目
//-       th 電話
//-       th 
//-     tr
//-       td 月子養生餐
//-       td 
//-         a(href="tel:0800289666") 0800-289-666
//-       td 
//-         a(href="tel:0800289666").icon-phone
//-     tr
//-       td 月子藥膳調理
//-       td 
//-         a(href="tel:0800289666") 0800-289-666
//-       td
//-         a(href="tel:0800289666").icon-phone
//-     tr
//-       td 小產元氣餐
//-       td 
//-         a(href="tel:0800329666") 0800-329-666
//-       td
//-         a(href="tel:0800329666").icon-phone
//-     tr
//-       td 生理期保養
//-       td 
//-         a(href="tel:0800329666") 0800-329-666
//-       td
//-         a(href="tel:0800329666").icon-phone
        

//- #ADslick.lity-hide
//-   .slick.load.ad
//-     .box.ph50.pv50(style="background-image: url(./styles/images/00-dashboard-ad01.jpg")
//-       //- img(src="./styles/images/00-dashboard-ad01.jpg", alt="紫金堂")
//-       .wrap
//-         span.f30 紫金堂尊榮獨享「到府試吃」服務
//-         p.lh18 請填寫預約申請表 #[br] 本公司將派專業服務人員與您聯繫安排到府試吃及解說服務
//-         a(href="#module-login-taste" data-lity ).btn-circle
//-           span.f20 我要預約
//-           span.mt5.f16 月子餐到府試吃

                

          
//-     //- .box.ph50.pv50
//-     .box.ph50.pv50(style="background-image: url(./styles/images/00-dashboard-ad02.jpg")
//-       //- img(src="./styles/images/00-dashboard-ad02.jpg", alt="紫金堂")
//-       .wrap.color-pink
//-         span.f30 國際母嬰培訓 #[br] 熱烈招募中!
//-         span.mt20.mb30 讓您的工作證卓越，客戶更滿意
//-         a.btn-square 了解詳情
      
