


mixin guest-menu(index)
  .slcik-menu.eq5.bgcWhite
    ul.nostyle(data-menu=index)
      if index == 1
        li.active
          a(href="guest-login-order.html" data-abbr="訂單查詢") 訂單查詢
      else
        li
          a(href="guest-login-order.html" data-abbr="訂單查詢") 訂單查詢
      if index == 2
        li.active
          a(href="guest-login-return.html" data-abbr="退貨查詢") 退貨查詢
      else
        li 
          a(href="guest-login-return.html" data-abbr="退貨查詢") 退貨查詢
      if index == 3
        //- li.active
        //-   a(href="guest-login-course.html" data-abbr="媽媽教室") 媽媽教室
      else
        //- li 
        //-   a(href="guest-login-course.html" data-abbr="媽媽教室") 媽媽教室
      if index == 4
        //- li.active
        //-   a(href="guest-login-taste.html" data-abbr="預約試吃") 預約試吃
      else
        //- li 
        //-   a(href="guest-login-taste.html" data-abbr="預約試吃") 預約試吃
      if index == 5
        li.active
          a(href="guest-login-subscribe.html" data-abbr="訂閱電子報") 訂閱電子報
      else
        li 
          a(href="guest-login-subscribe.html" data-abbr="訂閱電子報") 訂閱電子報




//- 在會員專區和非會員專區都有共用
mixin epapper(href1,href2)
  .bgc(style="background-image: url(styles/images/login-0-bgc2.jpg)")
    .container.fc.fc.pt72.pb88

      .epapper.f16

        .epapper__toggle#epapper-js
          div(data-page="subscribe").current 訂閱電子報
          div(data-page="unsubscribe") 取消訂閱
        
        form.epapper__main.subscribe
          img(src="./styles/images/login-00-01.png" alt="紫金堂")
          .f24.lh20.mb24 訂閱電子報

          input(type="text", placeholder="Email").mb24
          label.verify.mb40
            input(type="text" placeholder="請輸入驗證碼" required)
            img(src="./styles/images/09-99-04.jpg", alt="紫金堂").ml16

          .login_btn
            a(href=href1).mr 送出
            a(href="index.html") 取消

        form.epapper__main.unsubscribe
          img(src="./styles/images/login-00-01.png" alt="紫金堂")
          .f24.lh20.mb24 取消訂閱電子報

          input(type="text", placeholder="Email").mb24
          label.verify.mb40
            input(type="text" placeholder="請輸入驗證碼" required)
            img(src="./styles/images/09-99-04.jpg", alt="紫金堂").ml16

          .login_btn
            a(href=href2).mr 送出
            a(href="index.html") 取消
  

//- 在會員專區和非會員專區都有共用
//- 在訂閱及取消訂閱之後的回應
mixin subscribe_stage2(state)
  .bgc(style="background-image: url(styles/images/login-0-bgc2.jpg)")

    .container.fc.pt72.pb88
      .modal.f16

        if state == "subscribed"
          .modal__main
            img(src="./styles/images/login-00-01.png" alt="紫金堂")
            .f24.lh20.mb24 恭喜！您已訂閱成功
            div 感謝您對紫金堂的支持與肯定，可至您的信箱確認。
          .modal-bottom
            a(href="index.html")
              .icon-back
              span 返回首頁
        else if state == "unsubscribed"
          .modal__main
            img(src="./styles/images/login-00-01.png" alt="紫金堂")
            .f24.lh20.mb24 您已取消訂閱
            div 若有任何建議，我們都非常歡迎您來信給我們！ #[br]
            | 來信請寄至 
            a(href="mailto:service@tasteforlife.com.tw") service@tasteforlife.com.tw
            | #[br]謝謝您！
          .modal-bottom
            a(href="index.html")
              .icon-back
              span 返回首頁
        else
          block


          
//- 在訂閱及取消訂閱之後的回應
mixin cancelReserve
  .bgc(style="background-image: url(styles/images/login-0-bgc2.jpg)")

    .container.fc.pt72.pb88
      .modal.f16

        .modal__main
          img(src="./styles/images/login-00-01.png" alt="紫金堂")
          .f24.lh20.mb24 您已取消預約
          div 若有任何建議，我們都非常歡迎您來信給我們！ #[br]
          | 來信請寄至 
          a(href="mailto:service@tasteforlife.com.tw") service@tasteforlife.com.tw
          | #[br]謝謝您！
        .modal-bottom
          a(href="index.html")
            .icon-back
            span 返回首頁
